<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить пост</title>
</head>

<body>
<a href="http://localhost:8080/blog_app_yandex_practicum_sprint_3_war/posts" style="float:right;">
    <b>НА ГЛАВНУЮ &cudarrr;</b>
</a>
<form method="POST" th:action="${buttonText == 'Сохранить' ? 'http://localhost:8080/blog_app_yandex_practicum_sprint_3_war/posts/add' : 'http://localhost:8080/blog_app_yandex_practicum_sprint_3_war/posts/update/' + post.id}" enctype="multipart/form-data" th:object="${post}">
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <h3>Название</h3>
                <textarea rows="2" style="width: 100%;" th:field="*{title}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Изображение</h3>
                <input type="file" name="image">
            </td>
        </tr>
        <tr>
            <td>
                <h3>Теги</h3>
                <textarea rows="2" style="width: 100%;" th:field="*{tags}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Текст</h3>
                <textarea rows="30" style="width: 100%;" th:field="*{text}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" style="float:right;" th:text="${buttonText}"></button>
            </td>
        </tr>
    </table>
</form>
</body>
