<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
    <!-- Немного Java-скрипта для добавления и редактирования комментариев, чтобы не было релоада всей страницы -->
    <script>
        function editComment(id) {
            var comment = document.getElementById("comment" + id);
            var newComment = document.createElement("textarea");
            newComment.innerHTML = comment.innerHTML;
            newComment.rows = 3;
            newComment.name = "text";
            newComment.style = "width:100%;";
            comment.parentNode.replaceChild(newComment, comment);

            var button = document.getElementById(id);
            button.remove();

            var newButton = document.createElement("button");
            newButton.innerHTML = "&#10003;";
            newButton.style="float:right;"
            newComment.parentNode.appendChild(newButton);
        }

        function addComment(id) {
            var button = document.getElementById("addCommentButton");
            button.remove();

            var form = document.getElementById("addCommentForm");

            var newComment = document.createElement("textarea");
            newComment.rows = 3;
            newComment.name = "text";
            newComment.style = "width:100%;";
            form.appendChild(newComment);

            var newButton = document.createElement("button");
            newButton.innerHTML = "&#10003;";
            newButton.style="float:right;"
            form.appendChild(newButton);
        }
    </script>
</head>

<body>
    <!-- Вместо href ссылка на ленту постов -->
    <a href="..." style="float:right;">
        <b>НА ГЛАВНУЮ &cudarrr;</b>
    </a>
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <!-- Вместо action ссылка на страницу редактирования поста -->
                <form method="GET" th:action="...">
                    <button style="float:right;">РЕДАКТИРОВАТЬ ПОСТ</button>
                </form>
            </td>
            <td>
                <!-- Вместо action ссылка на эндпоинт удаления поста -->
                <form method="POST" th:action="...">
                    <button style="float:right;">УДАЛИТЬ ПОСТ</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
            	<!-- Вместо text название поста -->
                <h2 th:text="..."></h2>
                <p>
                    <!-- Вместо src ссылка на картинку поста -->
                    <img height="300" th:src="...">
                </p>
                <p>
                    <!-- Вместо action ссылка на эндпоинт изменения числа лайков поста -->
                    <form th:action="..." method="post">
                    	<!-- Увеличение -->
                        <button name="like" value="true">&#x1F44D;</button>
                        <!-- Вместо text число лайков поста -->
                        <span th:text="..."></span>
                        <!-- Уменьшение -->
                        <button name="like" value="false">&#128078;</button>
                        <!-- Вместо text число комментариев поста -->
                        <span th:text="..." style="float:right;"></span>
                    </form>
                </p>
                <p>
                    <!-- 
            		В each итерируемся по тегам поста
            		В text выводим название тега поста
            	    -->
                    <span th:each="..." th:text="..."></span>
                </p>
            </td>
        </tr>
        <!-- 
	    В each итерируемся по абзацам текста поста
	    В text выводим абзац текста поста
	-->
        <tr th:each="...">
            <td th:text="..."></td>
        </tr>
        <tr>
            <td>
                <hr>
                <h2>Комментарии</h2>
            </td>
        </tr>
        <!-- В each итерируемся по комментариям поста -->
        <tr th:each="...">
            <td style="border-left:thin solid grey;">
            	<!-- В action ссылка на эндпоинт редактирования комментария поста -->
                <form method="POST" th:action="...">
                    <!-- 
                    	В id идентификатор поста с префиксом 'comment' (нужно для работы JavaScript-a из <head>)
                    	В text текст комментария поста
                    -->
                    <span th:id="${'comment'+...}" th:text="..."></span>
                    <!-- В id идентификатор поста -->
                    <button th:id="..." onclick="editComment(this.id)" style="float:right;">&#9998;</button>
                </form>
            </td>
            <td>
            	<!-- В action ссылка на эндпоинт удаления комментария поста -->
                <form method="POST" th:action="...">
                    <button style="float:right;">&#10007;</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
            	<!-- В action ссылка на эндпоинт добавления комментария поста -->
                <form id="addCommentForm" th:action="..." method="post">
                    <button id="addCommentButton" style="float:right;" onclick="addComment()">Добавить комментарий</button>
                </form>
            </td>
        </tr>
    </table>
</body>
