<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Лента</title>
</head>

<body>
    <form method="GET" action="http://localhost:8080/blog_app_yandex_practicum_sprint_3_war/posts/add">
        <button style="float:right;">ДОБАВИТЬ ПОСТ</button>
    </form>
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <p>
                        <label for="search">Найти по тегу: </label>
                        <input id="search" style="width:300px;" name="search" th:value="${tag}">
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="pageSize">Число постов: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected="${pageSize == 5}">5</option>
                            <option value="10" th:selected="${pageSize == 10}">10</option>
                            <option value="20" th:selected="${pageSize == 20}">20</option>
                            <option value="50" th:selected="${pageSize == 50}">50</option>
                            <option value="100" th:selected="${pageSize == 100}">100</option>
                        </select>
                    </p>
                    <p>
                        <button th:if="${pageNumber > 1}" name="pageNumber" th:value="${pageNumber - 1}">&lt;</button>
                        <span th:text="${pageNumber}"></span>
                        <button th:if="${pageNumber < totalPages}" name="pageNumber" th:value="${pageNumber + 1}">&gt;</button>
                    </p>
                </form>
            </td>
        </tr>
        <tr th:each="post: ${posts}">
            <td style="border-bottom:thin solid;">
                <h2 th:text="${post.title}"></h2>
                <p>
                    <a th:href="@{/posts/{id}(id=${post.id})}">
                        <span th:if="${post.imgUrl != null and !#strings.isEmpty(post.imgUrl)}">
                            <img height="300" th:src="@{/images/{filename}(filename=${post.imgUrl})}" />
                        </span>
                        <span th:unless="${post.imgUrl != null and !#strings.isEmpty(post.imgUrl)}">
                            Перейти к посту
                        </span>
                    </a>

                </p>
                <p th:text="${post.paragraphs.getFirst()}"></p>
                <p>
                    <span th:text="${post.getLikesCount} + ' likes  '"></span>
                    <span th:text="${post.getCommentsCount} + ' comments'"></span>
                </p>
                <p>
                    <span th:each="tag : ${post.tagList}" th:text="${'#'+tag+' '}"></span>
                </p>
            </td>
        </tr>
    </table>
</body>
